@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?uk243j');
  src:  url('../fonts/icomoon.eot?uk243j#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?uk243j') format('truetype'),
    url('../fonts/icomoon.woff?uk243j') format('woff'),
    url('../fonts/icomoon.svg?uk243j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i.fab {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  vertical-align: bottom;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-line {
  padding: 6px 7px 7px!important;
}
.fa-line:before {
  content: "\e900";
}
.fa-arrow-alt-circle-right:before {
  content: "\e901";
}
.fa-instagram-square:before {
  content: "\e902";
}
.fa-youtube:before {
  content: "\e903";
}
.fa-arrow-alt-circle-down:before {
  content: "\e904";
}
.fa-arrow-alt-circle-up:before {
  content: "\e905";
}
.fa-arrow-right:before {
  content: "\e906";
}
.fa-arrow-left:before {
  content: "\e907";
}
.fa-arrow-alt-circle-right:before {
  content: "\e908";
}
.fa-arrow-alt-circle-left:before {
  content: "\e909";
}
.fa-arrow-alt-circle-left:before {
  content: "\e90a";
}
.fa-arrow-alt-circle-down:before {
  content: "\e90b";
}
.fa-arrow-circle-down:before {
  content: "\e90c";
}
.fa-chevron-circle-down:before {
  content: "\e90d";
}
.fa-arrow-alt-circle-up:before {
  content: "\e90e";
}
.fa-arrow-circle-up:before {
  content: "\e90f";
}
.fa-chevron-circle-up:before {
  content: "\e910";
}
.fa-caret-right:before {
  content: "\e911";
}
.fa-angle-right:before {
  content: "\e912";
}
.fa-caret-left:before {
  content: "\e913";
}
.fa-angle-left:before {
  content: "\e914";
}
.fa-angle-up:before {
  content: "\e915";
}
.fa-arrow-up:before {
  content: "\e916";
}
.fa-caret-up:before {
  content: "\e917";
}
.fa-chevron-up:before {
  content: "\e918";
}
.fa-angle-down:before {
  content: "\e919";
}
.fa-caret-down:before {
  content: "\e91a";
}
.fa-arrow-down:before {
  content: "\e91b";
}
.fa-chevron-down:before {
  content: "\e91c";
}
.fa-chevron-right:before {
  content: "\e91d";
}
.fa-chevron-left:before {
  content: "\e91e";
}
.fa-arrow-circle-left:before {
  content: "\e91f";
}
.fa-arrow-circle-right:before {
  content: "\e920";
}
.fa-chevron-circle-left:before {
  content: "\e921";
}
.fa-chevron-circle-right:before {
  content: "\e922";
}
.fa-envelope:before {
  content: "\e923";
}
.fa-external-link-alt:before {
  content: "\e924";
}
.fa-facebook-f:before {
  content: "\e925";
}
.fa-twitter:before {
  content: "\e926";
}