.p-contactForm {
  @include mq-md {
    margin-top: 40px;
  }
  p::after {
    @include clearfix;
  }

  .form-title {
    font-weight: bold;
    display: block;
    @include mq-md {
      float: left;
      width: 35%;
      padding-left: 70px;
      position: relative;
    }
    &.must {
      &::after {
        display: inline-block;
        content: "必須";
        color: #bb0000;
        border: 1px solid #bb0000;
        line-height: 1;
        padding: 2px 8px;
        font-size: 0.8rem;
        margin-left: 10px;
        @include mq-md {
          position: absolute;
          left:0;
          top:50%;
          margin-top: -8px;
        }
      }
    }
  }

  .form-input {
    display: block;
    @include mq-md {
      float: left;
      width: 65%;
    }
    input,textarea {
      width: 100%;
      background-color: #f6f6f6;
      border: none;
      padding: 6px 10px;
      @include mq-md {
        padding: 10px;
        font-size: 0.9rem;
      }
    }
    textarea {
      height: 200px;
      @include mq-md {
        height: 300px;
      }
    }
    select {
      width: 100%;
      padding: 6px 10px;
      background-color: #fff;
      @include mq-md {
        padding: 10px;
        height: 48px;
      }
    }
  }

  .form-policy {
    background-color: #f6f6f6;
    padding: 10px;
    font-size: 0.8rem;
    line-height: 1.5;
    height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    -webkit-overflow-scrolling: touch;
    @include mq-md {
      height: 300px;
    }
  }

  .wpcf7-acceptance {
    cursor: pointer;
  }

  .wpcf7-submit {
    width: 100%;
    max-width: 340px;
    text-align: center;
    display: inline-block;
    padding: 20px 10px;
    background-color: $color__site-main;
    color: #fff;
    font-size: 0.8rem;
    letter-spacing: 2px;
    text-indent: 2px;
    transition: .4s ease('ease');
    border: 2px solid transparent;
    cursor: pointer;
    @include mq-md {
      padding: 30px 10px;
      font-size: 1rem;
      &:hover {
        background-color: #fff;
        color: $color__site-main!important;
        border: 2px solid $color__site-main;
      }
    }
  }
}
