
$class : '.p-mainVisual' ;

#{$class} {
  padding: 50px 0 ;
  &__mainText {
    text-align: center;
    font-family: 'Anton';
    font-size: 3rem;
    margin-bottom: 0;
    line-height: 1.5;
  }
  &__subText {
    text-align: center;
    line-height: 1.8;
    span {
      background-color: #fcff00;
      padding: 1px 6px;
      margin-bottom: 6px;
      display: inline-block;
    }
  }

  &__logo {
    text-align: center;
    font-size: 0.9rem;
    span {
      font-size: 1.6rem;
      font-family: 'Anton';
      letter-spacing: 8px;
      text-indent: 8px;
    }
  }
}
