.p-pageTitle {
  background-color: $color__site-main;
  padding: 10px 0 10px;
  position: relative;
  margin-bottom: 50px;

  &__title {
    color: #fff;
    font-family: 'Anton' ;
    letter-spacing: 2px;
    font-size: 7vw;
  }

  &__breadcrumb {
    font-size: 0.8rem;
    position: absolute;
    bottom: -44px;
    left: 0;
    width: 100%;
  }

  &__img {
    position: absolute;
    top: -3vw;
    right:0;
    width: 50%;

    img {
      max-height:36.5vw;
    }
  }
}
