
$class:'.p-pageTitle';

#{$class} {
  background-color: $color__site-main;
  padding: 50px 0 40px;
  position: relative;
  margin-bottom: 20px;
  @include mq-md {
    padding: 150px 0 150px;
    margin-top: 40px;
    margin-bottom: 0;
  }

  &__title {
    color: #fff;
    font-family: 'Anton' ;
    letter-spacing: 2px;
    font-size: 10vw;
    text-align: center;
    padding: 0;
    line-height: 1.2;
    margin: 0;
    @include mq-md {
      font-size: 5rem;
      letter-spacing: 4px;
      margin-bottom: 0;
    }
  }

  &__subTitle {
    color: #fff;
    margin: 0;
    text-align: center;
    font-size: 0.9rem;
    @include mq-md {
      font-size: 1rem;
    }
  }

}
