
$class:'.p-normalLayout';

#{$class} {
  background-color: $color__site-main;
  padding: 10px 0 10px;
  position: relative;
  margin-bottom: 50px;
  @include mq-md {
    // margin-top: 40px;
    margin-bottom: 80px;
    height: 380px;
    > div {
      position: relative;
    }
  }
  &__title {
    color: #fff;
    font-family: 'Anton' ;
    letter-spacing: 2px;
    font-size: 10vw;
    padding-left: 10px;
    padding-right: 10px;
    @include mq-md {
      font-size: 5rem;
      letter-spacing: 4px;
      padding: 50px 0 60px;
      margin-bottom: 0;
    }
    span{
      font-size: 0.8rem;
      display: block;
      font-weight: normal;
      font-family: "Noto Sans JP";
      letter-spacing: 2px;
      margin-top: -10px;
      @include mq-md{
        margin-top: -20px;
      }
    }
  }

  &__breadcrumb {
    font-size: 0.8rem;
    position: absolute;
    bottom: -44px;
    left: 0;
    width: 100%;
    @include mq-md {
      position: static;
      color: #fff;
      width: 540px;
      padding: 0;
      li {
        color: #fff;
        a,
        a:visited,
        a:hover,
        a:focus,
        a:active {
          color: #fff;
        }
      }
    }
  }
}


.test{
  text-align: center;
  width: 90%;
  margin: 80px auto;
  @include mq-md{
    margin: 160px auto;
  }
  img{
    width: 100%;
    margin: 0 auto 40px auto;
    display: block;
    @include mq-md{
      margin: 0 auto 160px auto;
    }
  }
  h2{
    margin: 0;
    font-family: "Anton";
    font-size: 3rem;
    @include mq-md{
      font-size: 7rem;
    }
  }
  h3{
    font-size: 1.2rem;
    margin-top: -1rem;
    position: relative;
    display: inline-block;
    @include mq-md{
      font-size: 1.5rem;
    }
    &::before{
      content: attr(data-tooltip);
      position: absolute;
      display: block;
      color: #000;
      font-size: 10rem;
      top: -100px;
      left: -300px;
      font-family: Anton;
      font-style: italic;
      color: $color__background-screen;
      letter-spacing: 10px;
    }
  }
  p{
    width: 90%;
    margin: 0 auto;
    text-align: left;
    @include mq-md{
      width: 600px;
      text-align: center;
    }
  }
  &__button{
    width: 80%;
    margin: 80px auto 0 auto;
    @include mq-md{
      width: 40%;
      margin: 160px auto 0 auto;
    }

  }
}
