.p-socialButton h3 {
  font-size:1.2rem;
  padding: 0;
  margin: 10px 0;
  border: none;
}

.p-socialButton {
  font-size:15px;
}

/*Pen code from this point on*/
.p-socialButton .btn {
  min-width: 100px;
  clear:both;
  white-space:nowrap;
  font-size:12px;
  display:inline-block;
  border-radius:5px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.35);
  margin:2px;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
  overflow:hidden
}

.p-socialButton .btn:hover {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.45);
}

.p-socialButton .btn:focus {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
}

.p-socialButton .btn > span,.p-socialButton .btn-icon > i {
  float:left;
  padding:10px 8px 9px;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
  line-height:1em
}

.p-socialButton .btn > span {
  text-align: center;
  padding:10px 14px 12px;
  white-space:nowrap;
  color:#FFF;
  background:#b8b8b8;
  display: inline-block;
  width: calc(100% - 30px);
}

.p-socialButton .btn:focus > span {
  background:#9a9a9a
}

.p-socialButton .btn-icon > i {
  border-radius:5px 0 0 5px;
  position:relative;
  width:30px;
  text-align:center;
  font-size:15px;
  color:#fff;
  background:#212121
}

.p-socialButton .btn-icon > i:after {
  content:"";
  border:8px solid;
  border-color:transparent transparent transparent #222;
  position:absolute;
  top:10px;
  right:-15px
}

.p-socialButton .btn-icon > .fa-line {
  font-size: 21px;
  padding: 8px 7px 5px;
}

.p-socialButton .btn-icon:hover > i,.p-socialButton .btn-icon:focus > i {
  color:#FFF
}

.p-socialButton .btn-icon > span {
  border-radius:0 5px 5px 0
}

/*Facebook*/
.p-socialButton .btn-facebook:hover > i,.p-socialButton .btn-facebook:focus > i {
  color:#3b5998
}

.p-socialButton .btn-facebook > span {
  background:#3b5998
}

/*Twitter*/
.p-socialButton .btn-twitter:hover > i,.p-socialButton .btn-twitter:focus > i {
  color:#55acee
}

.p-socialButton .btn-twitter > span {
  background:#55acee
}

/*Google*/
.p-socialButton .btn-line:hover > i,.p-socialButton .btn-line:focus > i {
  color:#00c300
}

.p-socialButton .btn-line > span {
  background:#00c300
}
