$class:'.c-bgText';

#{$class} {
  text-align: center;
  font-size: 16vw;
  font-weight: bold;
  color: #f6f6f6;
  line-height: 1;
  @include mq-md {
    font-size: 13rem;
    letter-spacing: 30px;
  }
}
