
$class:".c-listWithThumbnail";

#{$class} {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #ececec;

  &__sub {
    flex:0 0 36%;
    position: relative;
    overflow: hidden;
    height: 120px;
    margin-right: 4%;

    img {
      position: absolute;
      top:-100%;
      right:-100%;
      bottom:-100%;
      left:-100%;
      margin: auto;
      height: 100%;
      width: auto;
      max-width: none;
    }
  }

  &__main {
    &::after {
      @include clearfix;
    }
    #{$class}__date {
      font-size: 0.8rem;
      margin: 0;
      padding: 0;
      display: block;
    }
    #{$class}__title {
      font-size: 0.9rem;
      line-height: 1.5;
      margin: 0 0 4px;
      padding: 0;
    }
    #{$class}__category {
      font-size: 0.7rem;
      margin: 0;
      padding: 0;
      color: #1777ba;
      float: left;
    }
    #{$class}__author {
      width: 30px;
      height: 30px;
      border-radius: 100%;
      background-color: #000;
      float: right;
      background-image: url(./images/blog_example_img.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: 0 2px 3px rgba(0,0,0,0.26);
    }
  }
}
