.l-header {
    position: fixed;
    z-index: 10000;
    top:0;
    right:0;
    transition: 1s ease('easeOutQuint');
    background-color: #fff;

    &.open {
      right:70%;
      @include mq-md {
        right: 30%;
      }
    }

}
