
$class : '.c-boxContent';

#{$class} {
  border: 1px solid #232323;
  padding: 40px 20px;
  @include mq-md {
    padding: 50px 60px 60px;
  }

  h1,h2,h3,h4,h5,h6 {
    margin-top: 0!important;
    margin-bottom: 30px!important;
  }
}
