
$class : '.c-snsLink';

#{$class} {
  background-color: #fff;
  line-height: 1;
  border-radius: 100%;
  color: $color__text-main !important;
  font-size: 0.8rem;
  padding: 8px 8px 8px 8px;
  margin: 0 4px;
  width: 30px;
  height: 30px;
  i{
    position: relative;
    top: 2px;
  }
  @include mq-md {
    padding: 7px;
  }

  &--black {
    color: #fff !important;
    background-color: $color__site-main;
    }

}
