
$class : '.c-snsLink';

#{$class} {
  background-color: #fff;
  display: block;
  margin: 0 auto;
  padding: 4px;
  line-height: 1;
  border-radius: 100%;
  color: $color__text-main !important;
  display: inline-block;
  font-size: 0.8rem;
  @include mq-md {
    padding: 7px;
  }

  &--black {
    color: #fff !important;
    background-color: $color__site-main;
    }

  &--big {
      padding: 10px;
      font-size: 1rem;
  }
}
