
$class:'.p-archiveTitle';

#{$class} {
  background-color: $color__site-main;
  padding: 10px 0 10px;
  position: relative;
  margin-bottom: 50px;
  @include mq-md {
    margin-top: 40px;
    margin-bottom: 80px;
    height: 364px;
  }

  &__title {
    color: #fff;
    font-family: 'Anton' ;
    letter-spacing: 2px;
    font-size: 7vw;
    @include mq-md {
      font-size: 5rem;
      letter-spacing: 4px;
      padding: 50px 0 60px;
      margin-bottom: 0;
    }
  }

  &__breadcrumb {
    font-size: 0.8rem;
    position: absolute;
    bottom: -44px;
    left: 0;
    width: 100%;
    @include mq-md {
      position: static;
      color: #fff;
      width: 540px;
      li {
        color: #fff;
        a,
        a:visited,
        a:hover,
        a:focus,
        a:active {
          color: #fff;
        }
      }
    }
  }

  &__img {
    position: absolute;
    top: -3vw;
    right:0;
    width: 50%;
    @include mq-md {
      top: -24px;
      right:15px;
    }

    img {
      max-height:36.5vw;
      @include mq-md {
        width: 570px;
        max-height: none;
        max-width: none;
      }
    }
  }
}
