
$class : '.p-blogList' ;

#{$class} {
  @include mq-md{
    margin-top: 160px;
  }
  &__title {
    h2 {
      margin: 0;
      @include mq-md {
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 6px;
      }
    }
  }

  &__wrap {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    .c-blogThumbnailMenu {
      margin-bottom: 10px;
      flex: 0 1 50%;

      @include mq-md {
        flex: 0 1 20%;
        padding: 0 10px!important;
      }

      &:nth-of-type(6) {
        display: none;
      }
      &:nth-of-type(odd) {
        padding-right: 10px;
        @include mq-md {
          padding-right: 0;
        }
      }
      &:nth-of-type(even) {
        padding-left: 10px;
        @include mq-md {
          padding-left: 0;
        }
      }
    }
  }
}
