.p-siteAuthorProfile {

  &__img {
    width: 160px;
    height: 160px;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 auto;
    border: 1px solid #acacac;
    position: relative;
    @include mq-md {
      margin-bottom: 30px;
    }

    img {
      position: absolute;
      margin: auto;
      top:-100%;
      right:-100%;
      bottom:-100%;
      left:-100%;
      height: 100%;
      width: auto;
      max-width: none;
    }
  }
  &__text {
    font-size: 0.9rem;
    @include mq-md {
      margin-bottom: 40px;
    }
  }

  &__sns {
    text-align: center;
  }
}
